.header-container {
    display: block;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #1b172b;
    height: 4rem;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.header-none {
    background-color: transparent;
}

.nickname {
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    color: #fd61f8;
    margin: 0;
    padding: 0;
    left: 2rem;
    top: 1.25rem;
    cursor: pointer;
    width: fit-content;
}

.menu {
    display: block;
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: 1rem;
    transform: translateY(-0.85rem);
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 110;
}

.line {
    fill: none;
    stroke: #fd61f8;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
} 

.menu-main-container {
    display: flex;
    position: fixed;
    height: 0;
    width: 100%;
    overflow-x: hidden;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #1b172b;
    border-bottom: #1b172b;
    transition: all 0.3s ease;
    z-index: 100;
}

.menu-main-container.menu-main-opened {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    transform: translate(0, 0);
}

.links {
    display: block;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transform: translateY(-15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-main-container.menu-main-opened .links {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}
    
.link-item {
    display: flex;
    text-align: center;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1.5rem 0;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.svg-item {
    opacity: 1;
    display: block;
    margin-right: 0.5rem;
}

.link-item:hover {
    opacity: 1;
    color: rgb(29,33,37);
    background-color: rgb(115,132,150);
}

.link-item:hover .svg-item {
    opacity: 1;
    fill: rgb(29,33,37);
}

.center-container {
    display: grid;
    max-width: 70vw;
    height: 4rem;
    margin: 0 auto;
    grid-template-columns: 2fr .75fr .75fr .75fr .75fr;
    align-items: center;
    justify-content: space-between;
}

.nickname-base {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    color: #fd61f8;
    cursor: pointer;
    width: fit-content;
}

.link-item-base {
    display: flex;
    text-align: center;
    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    line-height: 1.1rem;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    position: relative;
    padding: 0 0.5rem 0 0;
}

.svg-item-base {
    opacity: 1;
    width: 1.4rem;
    display: block;
    margin-right: 0.5rem;
}

.link-item-base:hover {
    opacity: 1;
    
}

.underline {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 0;
    background-color: #fd61f8;
    opacity: 0.8;
    left: 0;
    bottom: -0.4rem;
    border-radius: 50rem;
    transition: all .25s ease-in;
} 

.link-item-base:hover .underline {
    width: 100%;
}